<div class="form-group">
	<table width="100%">
		<tr>
			<td colspan=3>
				<input class="form-control" id="headline" name="headline" placeholder="Section Heading" description="SUMMARY_HEADLINE_DC_X">
			</td>
		</tr>
		<tr>
			<td colspan=3>
				<textarea id="summaryByDC" class="form-control" placeholder="Brief Summary" description="SUMMARY_DC_X"></textarea>
			</td>
		</tr>
		<tr>
			<td>
				<textarea class="form-control" placeholder="QOZM" description="SUMMARY_DC_QOZM_X"></textarea>
			</td>
			<td>
				<textarea class="form-control" placeholder="QAMP" description="SUMMARY_DC_QAMP_X"></textarea>
			</td>
			<td>
				<textarea class="form-control" placeholder="QANON" description="SUMMARY_DC_QANON_X"></textarea>
			</td>
		</tr>
	</table>
</div>
<!--<textarea></textarea>-->