<html>
  <head>
    <title>Start of Day</title>
    <style>
    * {
    font: 10pt verdana;
    }
    th {
      background-color: #DDDDDD;
      padding-left: 4px;
    }
    td {
      padding-left: 4px;
    }
    </style>
  </head>
  <body>
    <!--h2 style="font: 14pt Verdana; font-weight: bold;">Start of Day</h2-->

    <!--Summary-->
    
    <br>
    <table border=1  style="font: 10pt verdana;" cellspacing="0"><tr><th style="width: 150px; color: #FFFFFF; background-color: #336699; border-top: 1px solid #99CCFF; border-left: 1px solid #99CCFF; border-right: 1px solid #003366; border-bottom: 1px solid #003366; padding-left: 10px; padding-right: 10px;" align=left>Overall Health</th></tr></table>
    <table border=1 id="environments" style="border: 1px #EEEEEE; border-style: thin; font: 10pt verdana; color: #222222; width: 800px; table-layout: fixed; overflow-wrap: break-word;" cellspacing="0">
      <tr>
        <th align="left" width="200">Environment</th>
        <th align="left" width="100">Status</th>
        <th align="left" width="500">Notes</th>
      </tr>
      <!--Environment Status-->
    </table>

    <!-- _ISSUES_ -->
  </body>
</html>